<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Coursera Assignment

# Data Science Languages

# Python
## R
### Scala

# Scikit learn Tensorflow Pandas Numpy Matplotlib

# Table foe data science tools

|Tool| Use |Creation Year|
----|-----|-------------|
|Python|Data Analysis|1991|
|R     |Statistical Analysis|1990|
|Scala |Data Proecessing|2001|
|SQL    | Quering Structured Data|1974|

# Arthimatic Expressions Examples

In [18]:
y=10
x=11
print(10+11)

21

In [2]:
y= 2+x
print(y+x)

50

In [4]:
x=24
y=24
print(x**y)

1333735776850284124449081472843776

# Multiply and Add Numbers

In [5]:
2344+2222

4566

In [6]:
90*22

1980

In [19]:
(3*5)+4

19

# Minutes to Hours

#### This will convert 200 minutes to hours by 60

In [2]:
minutes=int(hours(" enter time in minutes:200"))
hours=minutes//60
remaining_minutes = minutes % 60

NameError: name 'hours' is not defined

**Objectives**


Create a Jupyter Notebook
Create markdown cell with title of the notebook
Create a markdown cell for an introduction
Create a markdown cell to list data science languages
Create a markdown cell to list data science libraries
Create a markdown cell with a table of Data Science tools
Create a markdown cell introducing arithmetic expression examples
Create a code cell to multiply and add numbers
Create a code cell to convert minutes to hours

Unodered list
- Python
- R
- Scala

## Auther 
Zahid